body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: blue;
}

.thumbnail img {
  max-height: 150px;
}

p{
  color: steelblue;
}

.precio{
  font-weight: bold;
  font-size: 16px;
}

.h3v{
  font-weight: bold;
}
nav {
  overflow: hidden;
  background:#444;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}